body {
    margin: 0;
    background-image: url('images/website.png');
    background-size: cover;
    background-position: center;
}

/* #window {
    background-color: rgb(81, 34, 17);
    width: 400px;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
} */

#time {
    font-family: 'Silkscreen';
    color: rgb(250, 183, 195);
    font-size: 35px;
    transform: rotate3d(1, 2, 3, 15deg);
    position: absolute;
    right: 385px;
    bottom: 170px;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
}

@keyframes blink {
    from {color: rgb(250, 183, 195);}
    to {color: #32324A;}
  }

#weather {
    /* background-color: pink; */
    top: 10px;
    left: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#window {
    width: 375px;
    height: 300px;
    position: relative;
    top: -300px;
    left: 0px;
}

#temperature {
    padding: 5px;
    text-align: center;
    margin: 0;
    font-family: 'Permanent Marker';
}

.play-image {
    width: 70px;
    height: 100px;
    transform: rotate(50deg);
    position: absolute;
    top: 170px;
    left: 775px;
}

.window-pane {
    background-color: rgb(199, 251, 252);
}

#weather-image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 300px;
}

/* .window-pane {
    background-color: rgb(199, 251, 252);
} */

#dark-mode {
    background-color: rgb(236, 193, 39);
    position: absolute;
    bottom: 60px;
    right: 60px;
}

#timer {
    background-color: orange;
    position: absolute;
    right: 60px;
    top: 60px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Handlee";
    flex-direction: column;
    background-color: #f4f5f8;
    gap: 10px;
  }

/* to do list style */


  div.todolist-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: larger;
    padding: 0px 15px;

    display: block;
    width: 400px;
    margin: 0px;
    font-family: Lato, "Handlee";
  } 
  
  .todolist-container {
    background-color: #f7ecf6;; /* Use a light pink color */
    padding: 5px; /* Add some padding to the container */
    border-radius: 5px; /* Add rounded corners to the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
    height: 250px;
    overflow-y:auto;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
    
  }
  li, h3 {
    clear:both;
    list-style:none;
    
  }
  input, button {
    outline: none;
    
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 0px 0 0;
    font-family: Lato, "Handlee";
    cursor: pointer;
    
  }
  button:hover {
    color: #333;
  }
  /* Heading */
  h3,
  label[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #674f8f;
    padding: 10px 0 10px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Permanent Marker';
  }
  input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, "Handlee";
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: left;
    width: 70%;
  }
  p > button:hover {
    color: #0FC57C;
  }
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  li > input[type="checkbox"] {
    margin: 0 5px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  li >  input[type="text"] {
    width: 226px;
  }
  li > .delete:hover {
    color: #CF2323;
  }
  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }
  input[type="checkbox"]:checked {
    /* Style for checked checkboxes */
    filter: hue-rotate(45deg); /* Change the color of the checkbox to 90 degrees on the color wheel (a reddish-pink color) */
  }


  .clock-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    align-items: center;
    border-radius: 1000px;
    font-family: "Handlee";
    filter: drop-shadow(0px 2px 3px #64676b57);
    background-color: #f7ecf6;
    gap: 10px;
  }
  /*// Circle styles.*/
  circle {
    display: block;
    fill: transparent;
    stroke: #64676b48;
    stroke-linecap: round;
    stroke-dasharray: 600;
    stroke-dashoffset: 0;
    stroke-width: 9px;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
  }
  
  .indicator {
    stroke: #ab87e4;
    z-index: 2;
  }
  
  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 70%;
    font-family: 'Permanent Marker';
    color: #555;
    width: 100px;
    height: 100px;
    /* border: 1px solid; */
    /* gap: 20px; */
  }
  
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .value-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5em !important;
    font-weight: 500;
  }
  
  .clock-buttons-container {
    font-size: 3em;
    display: flex;
    padding: 0 20px;
  }
  
  .clock-buttons-container i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(149, 139, 147);
  }
  .clock-buttons-container i:hover {
    color: #ab87e4;
  }
  